:root {
    --fuentePrincipal:'Staatliches', cursive;
    --primario: #9c27b0;
    --primario-oscuro: #89119d;
    --secundario:#ffce00;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    background-color: var(--primario);
    line-height: 2rem;
}

h1{
    color: var(--secundario);
    text-align: center;
    font-size: 5rem;
    font-family: var(--fuentePrincipal);
}
p{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.contenedor{
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}
.img{
    max-width: 100%;
}
.header{
    display: grid;
    justify-content: center;
    padding: 4rem 0;
}

.barra{
    background-color: var(--primario-oscuro);
    padding: 3rem 0;
}
.barra .nav{
    display: grid;
    grid-template-columns: 200px 200px;
    justify-content: center;
    grid-column-gap: 3rem;
}

.barra .nav a{
    font-family: var(--fuentePrincipal);
    font-size: 3rem;
    text-align: center;
    color: white;
    text-decoration: none;
}
.barra .nav a:hover{
    color: var(--secundario);
}
.lista-productos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
@media (min-width: 800px){
    .lista-productos{
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
    }
}

.producto {
    background-color: var(--primario-oscuro);
    padding: 2rem;
}
.contenido-producto p{
    font-family: var(--fuentePrincipal);
    color: white;
    text-align: center;
    margin: 1rem 0;
    line-height: 1.4;
    font-size: 3.4rem;
}
.contenido-producto .titulo{
    font-size: 4rem;
}
.contenido-producto .precio{
    color: var(--secundario);
}

.grafico{
    min-height: 30rem;
    grid-column: 1 / 3;
    background-size: cover;
    background-position: center center;
}
.grafico-1{
    background-image: url(../img/grafico1.jpg);
    grid-row: 2 / 3;
}
.grafico-2{
    background-image: url(../img/grafico2.jpg);
    grid-row: 8 / 9;   
}

@media (min-width: 800px){
    .grafico-2{
        grid-row: 5 / 6;
        grid-column: 2 / 4;
    }
}



@media (min-width: 800px){
    .contenedor-informacion {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 3rem;
    }
}

.imagen-producto{
    width: 100%;
}

.footer{
    background-color: var(--primario-oscuro);
    padding: 1rem 0;
    margin-top: 2rem;
}

.copyright{
    font-family: var(--fuentePrincipal);
    color: white;
    font-size: 2.2rem;
    text-align: center;
}

.formulario-pedido {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 6rem);
    grid-gap: 3rem;
}
.campo {
    background-color: transparent;
    border: .5rem solid white;
    font-family: var(--fuentePrincipal);
    font-size: 3rem;
    padding: 1rem;
    width: 100%;
    color: white;
}
.talla{
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    grid-column: 1 / 3;
}
.boton {
    background-color: var(--secundario);
    font-size: 2rem;
    font-family: var(--fuentePrincipal);
    border: none;
    transition: background-color .3s ease;
    grid-column: 1 / 4;
}
.boton:hover {
    cursor: pointer;
    background-color: rgb(233, 187, 2);
}